ol input {
    width: 16px;
    height: 16px;
    margin: 0 25px 5px 0;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
}

body {
    background-color: #1a1a1a;
    color: aliceblue;
}

.clock {
    display: flex;
    justify-content: right;
    font-size: 30px;
}